{% load  static %}
<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">


    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title%} Ruby Class {% endblock %}</title>
</head>
<body>

<header>
    <h1>Ruby Class</h1>
    <nav>
        <ul>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'services' %}">Services</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
    </nav>
</header>


<main>
    {% block content %}
        page

    {% endblock %}
</main>

<footer>
    <p>&copy; 2024 ruby class</p>
</footer>

</body>
</html>